@import 'AS-framework';

/*this resets the body of the page
so that the browser's specifications
doesn't affect mine*/
body {
  margin: 5px;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/*SagandaStrap title*/
header {
  color: blue;
  font-size: 60px;
}

/*the full nav bar*/
.tabs {
  margin: 0;
  padding: 0;
  list-style: none;
/*  this allows the nav bar to be full width like
  a table and the cells(tab items) like a cell
  in that table so that they're evenly spaced no
  matter how many tabs*/
  display: table;
  table-layout: fixed;
  width: 100%;
  text-align: center;
  border: 2px solid #ccc;
  background-color: lightblue;
}
/*each tab and its properties*/
.tab_item {
/*  this is tapping into the _mixins.scss 
  via _AS-framework.scss via the @import 
  'AS-framework' at the top*/
  @include tab-item('Roboto Condensed',green);
  /*this allows the tabs to become equal sizes in the full bar,
  such as cells in a table hence the property name*/
  display: table-cell;
}

.tabs2 {
  @extend .tabs;
}

.tab_item2 {
  @extend .tab_item;
  @include tab-item('Dancing Script', purple);
  font-size: 200%;
}


#example-rounded{
  @include rounded-button(7px);
  width: 90px;
  font: Arial;
  background-color: salmon;
  color: white;
}

#example-centered-wrapper{
  width: 70px;
  height: 70px;
  border: thin black solid;
}

#example-centered{
  @include vertically-centered-element;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  background: lime;
}